@{
    Layout = "Shared/_Layout.cshtml";
}

<form action="/cuisines" method="post">
    <label for="cuisine">Add Cuisine:</label>
    <input type="text" name="cuisine" placeholder="Add a Cuisine">
    <button type="submit" name="button">Add Cuisine</button>
</form>
