@{
    Layout = "Shared/_Layout.cshtml";
}

<div class="row cuisine-holder">
    <div class="jumbotron">
        <h1>@Model.GetName()</h1>
    </div>
    <div class="edit-cuisine-holder">
        <form class="form-group" action="/update/cuisine/@Model.GetId()" method="post">
            <input type="text" name="updated-name" placeholder="Rename this cuisine...">
            <button class="btn" type="submit" name="button">Save Changes</button>
        </form>
    </div>
    @foreach(var entry in Model.GetRestaurants())
    {
        <h3>@entry.GetName()</h3>
        <ul>
            <li>Address: @entry.GetAddress()</li>
            <li>Phone: @entry.GetPhoneNumber()</li>
        </ul>
        <div class="edit-button-holder">
            <form class="form-group" action="/review/restaurant/@entry.GetId()" method="get">
                <button class="btn"type="submit" name="button">Review</button>
            </form>
        </div>
        <div class="edit-button-holder">
            <form class="form-group" action="/delete/restaurant/@entry.GetId()" method="post">
                <button class="btn"type="submit" name="button">Delete</button>
            </form>
        </div>
    }
</div>
