@{
    Layout = "Shared/_Layout.cshtml";
}

<form action="/restaurants" method="post">
    <label for="restaurant-name">Add Restaurant:</label>
    <input type="text" name="restaurant-name" placeholder="Restaurant's Name">
    <input type="text" name="restaurant-address" placeholder="Restaurant's Address">
    <input type="text" name="resaurant-phonenumber" placeholder="Restaurant's Phone Number">
    <input type="text" name="restaurant-cuisine" placeholder="Restaurant's Cuisine">
    <button type="submit" name="button">Add Cuisine</button>
</form>
