.header h1 {
    padding-top: 0px;
    margin-top: 0px;
}

.title-text {
    font-family: monospace;
}

.header {
    background-color: #ffff98;
}

body {
    background-image: linear-gradient(45deg, #ffff98, #c6c677);
    background-repeat: none;
    background-size: cover;
}

.basic-link {
    display: inline-block;
    padding: 10px;
}

.salmon {
    background-color: salmon;
}

.topper {
    height: 200px;
}

.x-padding {
    padding: 10px;
}

.navthis {
    margin-top: 20px;
}
